@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

/* Background */
.darkbg{
     height: 100vh;
     width: 100vw;
     background-color:  rgb(84, 36, 157);
    }
.whitebg{
    height: 100vh;
    width: 100vw;
    background-color:  rgb(146, 146, 187);
}

/*Dark Grid */
.darkgrid{
    position: absolute;
    top: 22%;
    left: 34%;
    height: 484px;
    width: 484px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}
.darkgrid div{
    height: 147px;
    width: 147px;
    border-radius: 7px;
    text-align: center;
    border: 2px solid rgb(84, 36, 157);
    background-color: rgb(146, 146, 187);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 120px;
    color: rgb(40, 17, 81);
}
/* .input{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 120px;
    color: rgb(40, 17, 81);
} */
/* text-shadow: 4px 1px 4px rgb(63, 0, 235),7px 1px 5px rgb(185, 12, 18); */

/* White grid */
.whitegrid{
    position: absolute;
    top: 22%;
    left: 34%;
    height: 484px;
    width: 484px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}
.whitegrid div{
    height: 147px;
    width: 147px;
    border-radius: 7px;
    text-align: center;
    border: 1px solid   rgb(84, 36, 157);
    background-color:rgb(84, 36, 157);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 6px, rgba(0, 0, 0, 0.63) 0px 3px 6px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 120px;
    color: rgb(186, 186, 233);
}

/* Theme Changer */
.change-theme{
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.change-theme button{
    font-size: 20px;
    padding-top: 5px;
}